<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
<h1> Welcome to AppAcademy, <%=@user.username%></h1>
<p>
    You made it fam!!!
</p>

<p>
    To log into the site, just follow the link: <%= @url%>
</p>

</body>


</html>